@media only screen and (min-width: 400px) and (max-width: 768px) {
  .img-l-text-r-section .description {
    -webkit-box-shadow: 0px 9px 11px 2px rgba(0, 0, 0, 0.07) !important;
            box-shadow: 0px 9px 11px 2px rgba(0, 0, 0, 0.07) !important;
  }
  .position-left-sec,
  .position-right-sec {
    margin-top: -3rem;
  }
}

@media (min-width: 768px) {
  .position-left-sec {
    margin-left: -5rem;
    margin-right: -5rem;
  }
  .position-right-sec {
    margin-right: -5rem;
    margin-left: -5rem;
  }
}

@media (min-width: 991px) {
  .position-left-sec {
    margin-left: -6rem;
    margin-right: 2rem;
  }
  .position-right-sec {
    margin-right: -6rem;
    margin-left: 2rem;
  }
}

@media (min-width: 1200px) {
  .position-left-sec {
    margin-left: -17rem;
    margin-right: 8rem;
  }
  .position-right-sec {
    margin-right: -17rem;
    margin-left: 8rem;
  }
}

@media (min-width: 1400px) {
  .position-left-sec {
    margin-left: -23rem;
    margin-right: 13rem;
  }
  .position-right-sec {
    margin-left: 13rem;
    margin-right: -23rem;
  }
}

.img-l-text-r-section .description {
  background: #ffffff4d;
  padding: 50px 30px;
  -webkit-box-shadow: 5px 0px 11px 2px rgba(0, 0, 0, 0.07);
          box-shadow: 5px 0px 11px 2px rgba(0, 0, 0, 0.07);
}

.img-l-text-r-section .description.b-shadow {
  -webkit-box-shadow: -4px 2px 11px 2px rgba(0, 0, 0, 0.07);
          box-shadow: -4px 2px 11px 2px rgba(0, 0, 0, 0.07);
}

.img-l-text-r-section h3 {
  color: #303030;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.img-l-text-r-section p {
  color: #090e11;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.img-l-text-r-section .simple-btn {
  color: #D93A31;
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 0;
}

.img-l-text-r-section .simple-btn span {
  font-weight: 500;
}

.img-l-text-r-section .simple-btn span:hover {
  border-bottom: 1px solid #D93A31;
  padding-bottom: 0.2rem;
}

.img-l-text-r-section .simple-btn img {
  margin-left: 1rem;
}

.img-l-text-r-section .simple-btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.img-l-text-r-section .thumb1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-l-text-r-section .thumb2 {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 767px) {
  .order-1-custom {
    -webkit-box-ordinal-group: 0 !important;
        -ms-flex-order: -1 !important;
            order: -1 !important;
  }
  .img-l-text-r-section .thumb2,
  .img-l-text-r-section .thumb1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
